@font-face {
    font-family: 'Panton-Regular';
    src: url("../assets/fonts/regular/Panton-Regular.eot");
    src: url("../assets/fonts/regular/Panton-Regular.eot?#iefix") format("embedded-opentype"),
        url('../assets/fonts/regular/panton-regular-webfont.woff2') format('woff2'),
        url('../assets/fonts/regular/panton-regular-webfont.woff') format('woff'),
        url('../assets/fonts/regular/Panton-Regular.ttf') format('truetype'),
        url('../assets/fonts/regular/Panton-Regular.svg#Panton-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Panton-Bold';
    src: url("../assets/fonts/bold/Panton-Bold.eot");
    src: url("../assets/fonts/bold/Panton-Bold.eot?#iefix") format("embedded-opentype"),
        url('../assets/fonts/bold/panton-bold-webfont.woff2') format('woff2'),
        url('../assets/fonts/bold/panton-bold-webfont.woff') format('woff'),
        url('../assets/fonts/bold/Panton-Bold.ttf') format('truetype'),
        url('../assets/fonts/bold/Panton-Bold.svg#Panton-Bold') format('svg');
    font-weight: normal;
    font-style: normal;

}


svg {
    margin: auto;
    width: 150px;
    height: auto;
    display: block;
}

/* animate the svg to rotate from the center */
svg {
    animation: rotateHourglass 10s ease-in-out infinite;
    transform-origin: 50% 50%;
}

/* animate the rectangle describing the sand toward the bottom */
#sand {
    animation: moveSand 10s ease-in-out infinite;
}

/* by repeating the animation from the original values, the idea is to give the illusion of a constant rotation clockwise */
@keyframes rotateHourglass {

    /* 95% to fill the hourglass, 5% to rotate the shape around its center  */
    95% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(180deg);
    }
}

@keyframes moveSand {

    95%,
    100% {
        transform: translateY(50px);
    }
}




body {
    background-color: #282B39;
}

body::-webkit-scrollbar-track {
    background-color: #282B39;
}

body::-webkit-scrollbar {
    width: 6px;
    background: #282B39;
}

body::-webkit-scrollbar-thumb {
    background: #2699CD;
}



.clock {
    /* position: absolute;
    left: 26%;
    top: 5px; */
    color: white;
    font-size: 2em;

    font-family: Panton-Bold;
}

.timer {
    background-color: #2699CD;
    position: fixed;
    z-index: 99;
    padding: 3px 100px;
    z-index: 100000;
    text-transform: uppercase;

}

#demo {
    color: white;
    font-size: 2em;
    margin: 0 10px;
    font-family: Panton-Bold;
}

.social a {
    display: inline-block;
    margin: 0px 10px 10px 0px;


}

.bg-azul{
    background-color: #3CB4E7;

}

.bg-white-1 {
    background-color: #ffffff;
    z-index: -4;
}

.bg-gelo{
    background-color: #E7F0F4;

}

.bg {
    background-repeat: no-repeat;
    background-size: cover;
}

.cliente{
    /* height: 30px;
    width: 30px; */
    padding: 20px;
    background-color: white;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.39);
    margin: 15px 0;
    display: flex;
  justify-content: center;

}

.cliente img{
    z-index: 999;
    width: 75%;
}

.receber{
    padding: 25px 50px 45px 50px  ;
}

.receber div{
    padding: 0 10px;

}

.receber h6{
    margin: 15px 0;
    color: #ffffff;
    font-family: Panton-Bold;
    font-size: 32px;


}

.receber p{
    color: #ffffff;
    font-family: Panton-Regular;
    text-align: center;
    font-size: 24px;

}

.content{
    margin: 20px 0;
}

.hours, .etapas{
    font-family: Panton-Regular;
    display: inline-block;
    font-size: 1.2em;

}

.hours span, .etapas span{
    margin: 0px 10px;
    position: relative;
    top: 3px;

}

.etapa-item{

    font-family: Panton-Regular;
    display: flex;
    align-items: center;
    color:#808080;
    font-size: 1em;
    margin: 10px 30px 10px 0;

}


.etapa-item p{

 margin: 0 10px;

}




.pagina {
    height: 100vh;
    padding: 100px;

    z-index: 2;

    background-image: url('../assets/backgrounds/bg-marketing-manager-curso-estrategia-execucao.jpg');


    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}



h1 {
    font-family: Panton-Bold;
    font-size: 5.5em;
    /* line-height: 50px; */
    line-height: 80px;
    color: white;
    margin: 2% 0 3.2% 0;
}

h2 {
    color: white;
    text-transform: uppercase;
    font-family: Panton-Regular;
    font-size: 1.8em;
    letter-spacing: 5px;
}

h3 {
    margin: 10% 0 0 0;
    color: #2699CD;
    font-size: 1.5em;
    letter-spacing: 5px;
    font-family: Panton-Regular;
    text-transform: uppercase;
}

h4 {
    color: #2699CD;
    font-size: 1.9em;
    letter-spacing: 5px;
    font-family: Panton-Regular;
    /* text-transform: uppercase; */
}

.pra-quem h2,
.professores h2,
.aprender h2,
.quem h2,
.confio h2,
.info-ebook h2,
.receber h2 {
    color: #3CB4E7;
    font-family: Panton-Regular;
    font-size: 3em;
    text-transform: none;
    padding: 50px 0;
}

.aprender {
    background-color: #282B39;
}

.aprender h2 {
    color: #3CB4E7;
    padding: 100px 0 10px 100px;
}

.perguntas {
    background-color: #3CB4E7;
}

.perguntas h2 {
    color: #ffffff;
    text-align: left;
    padding: 350px 0 10px 100px;
}

.img-plus {
    width: 4%;
}

.professores {
    padding-block-end: 50px;
}

.box-box {
    background-color: transparent;

    margin: 5% 0;
    transform: scale(1);
    transition: all (10s);
}

.box-white {
    background-color: #ffffff;
    padding: 10px 30px;

    margin: 5% 0;
    transform: scale(1);
    transition: all (10s);
}

.box-dark {
    background-color: #282B39;
    padding: 30px;
    border-radius: 5px;
    margin: 5% 0;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.39);
}

.box-box h4 {
    color: #000000;
}

.box-box p {
    font-family: Panton-Regular;
    color: #808080;
}

.btn-1 {
    font-family: Panton-Bold;
    color: #FFFFFF;
    font-size: 18px;
    width: 50%;
    padding: 20px 43px;
    text-transform: uppercase;
    background-color: #51D670;
    position: relative;
    top: -16px;
    text-decoration: none !important;
    transform: scale(1) !important;
    transition: all (0.5s) !important;
    border: none;
}

.btn-1:hover {
    /* color: #51D670;
    background-color: transparent;
    border: 2px solid #51D670 ;  */
    transform: scale(1.05) !important;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.39) !important;
    transition: all (3s);
    color: #FFFFFF;

}

.btn-1a {
    font-family: Panton-Bold;
    color: #FFFFFF;
    font-size: 18px;
    width: 80%;
    padding: 20px 43px;
    text-transform: uppercase;
    background-color: #51D670;
  
    position: relative;
    top: -16px;
    text-decoration: none !important;
    transform: scale(1);
    transition: all (0.5s);
    border: none;
}

.btn-1a:hover {
    /* color: #51D670;
    background-color: transparent;
    border: 2px solid #51D670 ;  */
    transform: scale(1.05);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.39);
    transition: all (3s);
}

.btn-4 {
    font-family: Panton-Bold;
    color: #FFFFFF;
    font-size: 18px;
    width: 50%;
    padding: 20px 43px;
    text-transform: uppercase;
    background-color: #2699CD;

    text-decoration: none !important;
    transform: scale(1);
    transition: all (0.5s);
    border: none;
}

.btn-4:hover {
    /* color: #51D670;
    background-color: transparent;
    border: 2px solid #51D670 ;  */
    transform: scale(1.05);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.39);
    transition: all (3s);
}


.box-white {
    background-color: white;
    padding: 30px;
    margin: 5% 0;
    transform: scale(1);
    transition: all (10s);

}

.box-white:hover {
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.39);
    transform: scale(1.02);
    transition: all (50s);
}

/* img{
    transform: scale(1);
    transition: all (1s);
  } */


.box-white h4 {
    color: #2699CD;
}


.box-white p {
    font-family: Panton-Regular;
    color: #808080;
}

.btn-2 {
    position: fixed;
    top: 50%;
    font-size: 30px;
    right: -212px;
    /* width: 35%; */
    transform: rotate(135 deg);
    transform: rotate(-90deg);
    font-size: 20px;
    padding: 10px 40px;
    z-index: 1;
    font-family: Panton-Bold;
    color: #FFFFFF;
    text-transform: uppercase;
    background-color: #51D670;
    text-decoration: none !important;
    border: none;

}

.btn-2:hover {
    color: #51D670;
    background-color: transparent;
    border: 2px solid #51D670;

}

.btn-3 {
    font-family: Panton-Bold;
    color: #FFFFFF;
    font-size: 20px;
    width: 100%;
    padding: 25px 30px 25px 60px;
    text-transform: uppercase;
    background-color: #51D670;
    text-decoration: none !important;
    z-index: 999;
}

.btn-3:hover {
    transform: scale(1.2) !important;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.39);
    transition: all (3s);
    color: white;
}

.btn-3 img {
    width: 5%;
    margin: -2% 0 0 -5%;
}

.capa {
    padding-top: 6%;
    height: 55vh;
}

.box-outline {
    position: relative;
    z-index: 0 !important;
    border: 2px solid #2699CD;

    height: 630px;

    width: 70%;
    margin-top: -84%;
    margin-left: 5%;
}

.prof-info {
    padding: 30px 30px 10px 30px;
    text-align: left;
    background-color: #ffffff;
}

.prof-info h3 {
    color: #000000;
    text-transform: uppercase;
    font-family: Panton-Bold;
    width: 300px;
    margin: 0;
}

.prof-info h6 {
    color: #2699CD;
    font-family: Panton-Regular;
    margin: 5px 0 20px 0;
    text-transform: uppercase;
    font-size: 1.2em;
}

.prof-info p {
    color: #808080;
    font-family: Panton-Regular;
    line-height: 30px;
}

.pra-quem {
    padding: 80px 100px 0 100px;
    background-size: 107%;
    background-position-x: center;
}

.pra-quem h2 {
    padding: 50px 0 30px 0;
}

.pra-quem h4 {
    color: #3CB4E7;
}

.pra-quem p {
    color: #A2A3A3;
}

.quem , .confio{
    padding: 50px 100px 0 100px;
}

.quem-item,
.pra-quem-item {
    padding: 0 10px 70px 10px;
}

.pra-quem-item h4 {
    margin-top: 10px;
}

.gray {
    color: #808080;
    font-family: Panton-Bold;

}

.quem-item h4,
p {
    text-align: left;
    font-family: Panton-Regular;
}

.quem-item p {
    color: #808080;
}

.quem-item h4 {
    color: #2699CD;
}

.depoimento {
    padding: 0 30px;
}

.info-ebook {
    padding: 30px 150px 30px 320px;
    width: 85%;
    height: 87vh;
    margin: 0 0 -260px 160px;
    background-color: #ffffff;
}

.info-ebook h2 {
    padding: 50px 0 10px 0;
}

.info-ebook h5 {
    font-family: 'Panton-Bold';
    font-size: 2.0em;
}

.bold {
    font-family: 'Panton-Bold';

}

.desconto {
    color: #2699CD;
}



.info-ebook p {
    text-align: left;
    color: #808080;
    padding: 10px 0;
    font-family: Panton-Regular;
}

.img-ebook img {
    width: 40%;
    margin: 0 0 -600px -70px;
}

.footer {
    padding: 300px 50px 50px 50px;
    background-color: #282B39;
}

.footer-1 {
    padding: 100px 50px 50px 50px;
    background-color: #282B39;
}

.copy p,
.end p {
    font-family: Panton-Regular;
    color: #2699CD;
    text-transform: uppercase;
}

.txt-end {
    font-family: Panton-Bold;
    font-size: 1.2em;
}

.txt-mm {
    letter-spacing: 1px;
}

.txt-todos {
    color: #808080;
}

.copy span,
.end span {
    font-family: Panton-Regular;
    color: #ffffff;
    text-transform: none;
}

.redes img {
    width: 7%;
    margin: 0 5% 0 0;
}

.pagamento img {
    margin: 0 3% 0 0;
}

.img-pag {
    width: 10%;
}

.img-ssl {
    width: 6%;
}

.img-cartoes {
    width: 20%;
}

.logo {
    position: relative;
    top: -75px;
}

.img-logo {
    width: 170px;
}

.apresentacao {
    position: relative;
    top: -30px;
}

.indicador {
    position: relative;
    top: -5px;
}

.assista {
    position: absolute;
    top: 30px;
    width: 20%;
    right: 128px;
}

.mobile {
    display: none;
}


.ebook-1 {
    margin: 0 10px -200px 10px;
    background-color: #ffffff;
}


.info-ebook-1 {
    padding: 70px 60px;
    /* width: 95%; */
    /* height: 50vh; */


}

.info-ebook-1 h2 {
    /* padding: 50px 0 10px 0; */
    color: #2699CD;
    font-size: 2.3em;

    font-family: 'Panton-Bold';

}

.info-ebook-1 h5 {
    font-family: 'Panton-Regular';
    font-size: 2.0em;
    line-height: 1.5em;
}

.selo {
    padding: 80px 30px 80px 0;
}

/* .price{
   padding: 5px 10px;
   color: white;
   font-size: 19px;
   width: 30%;
} */


.garantia {
    font-size: 14px;
    width: 70%;
    color: #707070;
}

.video{
    padding: 30px 0;
}



/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 768px) {

    .cliente{
        padding: 3px 20px !important ;
        margin: 5px 0px;
    }

    .cliente img{
        width: 25px !important;
    height: 25px;

    }
    
    .info-ebook-1 {
        padding: 0;
        /* width: 95%; */
        /* height: 50vh; */


    }

    .info-ebook-1 h2 {
        padding: 50px 0 10px 0;
        color: #2699CD;
        font-size: 1.7em;

        font-family: 'Panton-Bold';

    }

  

    .info-ebook-1 h5 {
        font-family: 'Panton-Regular';
        font-size: 1.5em;
        line-height: 1.5em;
        width: 90%;
    }

    .selo {
        padding: 0;
    }

    .selo img {
        width: 70%;
        margin-top: 20px;

    }

    .btn-1a {

        font-size: 13px;
        width: 100%;
        padding: 20px 10px;

    }

    .garantia {
        font-size: 10px;
        width: 90%;

    }

    .btn-1 {
        font-size: 15px;
        padding: 20px;
        top: 40px;
        width: 100%;
    }

    .btn-2 {
        position: fixed;
        width: 350px;
        top: 0;
        left: 0;
        font-size: 15px;
        transform: rotate(180deg);
        z-index: 1;

    }

    .btn-4 {

        width: 100%;

    }

    .clock {

        color: white;
        font-size: 1.3em;

        font-family: Panton-Bold;

    }

    .clock img {
        margin: 0 !important;

    }

    .text-clock {
        font-size: 17px;
        margin: 0 11px;
    }

    .timer {
        background-color: #2699CD;
        position: fixed;
        margin: 0 !important;
        z-index: 100000;

        padding: 4px 10px;

    }

    #demo {
        display: none;
    }




    .logo {
        /* width: 111.5%; */
        background-color: #282B39;
        text-align: center;
        padding: 10px;
        top: 0px;
        /* left: -20px;
    }

    .img-logo {
        /* width: 50%; */
    }

    .apresentacao {
        top: 30px;
    }

    .pagina {
        padding: 0;
        height: 125vh;
        background-image: url('../assets/backgrounds/bg-marketing-manager-curso-estrategia-execucao-mobile.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

    }

    .pagina h3 {
        padding: 0;
    }


    h1 {
        font-size: 3.8em;
    }

    h2 {
        font-size: 1.2em;

    }

    h3 {

        font-size: 1.4em;

    }

    .aprender h2 {
        font-size: 2.2em;
        padding: 100px 50px 10px 50px;
    }

    .professores h2,
    .receber h2 {
        font-size: 2.2em;

    }

    .prof-dois {
        margin: 10% 0;
    }

    .pra-quem h2 {
        position: relative;
        top: -30px;
        font-size: 2.2em;

    }

    .pra-quem {
        padding: 0 30px;
    }

    .quem {
        padding: 50px;
    }

    .confio{
        padding: 5px;
    }

    .quem h2, .confio h2 {
        font-size: 2.2em;

    }

    .quem img {
        width: 100%;
    }

    

    .info-ebook {
        padding: 120px 20px 0 20px;
        width: 95%;
        height: 102vh;
        margin: 0 10px -300px 10px;
    }





    /* .logo {
        width: 150px;
    } */
    .info-ebook h5 {
        font-size: 1.6em;
    }

    .btn-3 {
        font-size: 20px;
        width: 100%;
        padding: 15px 30px 15px 60px;
        position: relative;
        top: -30px;
    }

    .btn-3 img {
        width: 8%;
    }

    .perguntas h2 {
        padding: 380px 0 10px 7px;
        font-size: 2.2em;

    }

    .left-content {
        padding: 40px 20px;
    }

    .img-ebook img {
        width: 80%;
        margin: 0px 0px -150px -5px;
    }

    .end p {
        text-align: center;
    }

    .end span {
        font-size: 1.3em;
    }

    .redes {
        margin: 0 0 0 -50px;
    }

    .redes img {
        width: 15%;
        margin: 0 10px 0 0;
    }

    .footer {
        padding: 220px 0 210px 0;
        text-align: center;
        height: 120vh;
    }

    .footer-1 {
        padding: 130px 0 210px 0;
        text-align: center;
        height: 120vh;
    }

    .pagamento {
        padding: 0 0 0 30px;
    }

    .pagamento img {
        margin: 0 10px 0 0;
    }

    .img-pag {
        width: 30%;
    }

    .img-ssl {
        width: 20%;
    }

    .img-cartoes {
        width: 90%;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 990px) {

    .info-ebook {
        height: 65vh;
        padding: 290px 20px 0 20px;
    }

    .perguntas h2 {
        padding: 380px 0 10px 35px;
    }

    .footer {
        height: 95vh;
    }

    .redes {
        margin: -230px 0 0 -50px;
    }

    .redes img {
        width: 10%;
    }

    .pagamento {
        margin: -300px 0 0 0;
    }

    .btn-2 {
        /* top: 700px; */
        left: 50%;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) and (max-width: 1300px) {
    .logo {
        top: 0;
        left: -60px;
    }

    .apresentacao {
        top: 120px;
        left: -60px;
    }

    .btn-1 {
        top: 120px;
        left: -60px;


    }

    .video-mobile{
        width: 100%;
    height: 185px;
    }

    .btn-2 {
        /* top: 700px; */
        left: 900px;
    }

    .assista {
        position: absolute;
        top: -25px;
        width: 20%;
        right: 20px;
    }

    .info-ebook {
        height: 67vh;
    }

    .perguntas h2 {
        padding: 350px 0 10px 110px;
    }

    .box-dark {
        padding: 30px 15px;
    }
}

@media only screen and (min-width: 1600px) and (max-width: 2499px) {
    .logo {
        top: 0;
        left: -60px;
    }

    .apresentacao {
        top: 150px;
        left: -60px;
    }

    .btn-1 {
        top: 160px;
        left: -60px;
    }

    .assista {
        position: absolute;
        top: 0;
        width: 20%;
        right: 90px;
    }

    .btn-2 {
        /* top: 700px; */
        left: 80%;
    }

    .img-ebook img {
        width: 35%;
        margin: 0 0 -600px -90px;
        /* min-height: 130vh; */
    }
}

@media only screen and (min-width: 2500px) {
    .logo {
        top: 50px;
        left: 40px;
    }

    .apresentacao {
        top: 150px;
        left: 40px;
    }

    .apresentacao h3 {
        font-size: 3.0em;
    }

    .btn-1 {
        top: 160px;
        left: 40px;
        font-size: 30px;
    }

    .assista {
        position: absolute;
        top: 0;
        width: 20%;
        right: 300px;
    }

    .perguntas h2 {
        padding: 350px 0 10px 220px;
    }

    .info-ebook {
        padding: 150px 150px 30px 600px;
        width: 85%;
        height: 60vh;
        margin: 0 0 -200px 160px;
    }

    .info-ebook p {
        font-size: 25px;
    }

    .img-ebook img {
        width: 35%;
        margin: 0 0 -600px -90px;
        /* margin: 0 0 -600px -100px; */

        /* min-height: 130vh; */
    }

    .btn-2 {
        /* top: 700px; */
        left: 70%;
    }
}