@font-face {
    font-family: 'Panton-Regular';
    src: url("../assets/fonts/regular/Panton-Regular.eot");
    src: url("../assets/fonts/regular/Panton-Regular.eot?#iefix") format("embedded-opentype"),
        url('../assets/fonts/regular/panton-regular-webfont.woff2') format('woff2'),
        url('../assets/fonts/regular/panton-regular-webfont.woff') format('woff'),
        url('../assets/fonts/regular/Panton-Regular.ttf') format('truetype'),
        url('../assets/fonts/regular/Panton-Regular.svg#Panton-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Panton-Bold';
    src: url("../assets/fonts/bold/Panton-Bold.eot");
    src: url("../assets/fonts/bold/Panton-Bold.eot?#iefix") format("embedded-opentype"),
        url('../assets/fonts/bold/panton-bold-webfont.woff2') format('woff2'),
        url('../assets/fonts/bold/panton-bold-webfont.woff') format('woff'),
        url('../assets/fonts/bold/Panton-Bold.ttf') format('truetype'),
        url('../assets/fonts/bold/Panton-Bold.svg#Panton-Bold') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    background-color: #15212F;
    min-height: 100vh;
    height: 100vh;

    max-height: 100vh;


    
}

body::-webkit-scrollbar-track {
    background-color: #282B39;
}

body::-webkit-scrollbar {
    width: 6px;
    background: #282B39;
}

body::-webkit-scrollbar-thumb {
    background: #2699CD;
}

.pluginSkinLight span{
    color: white;
    font-family: Panton-Regular;


}

._ohe span{
    color: white;
    font-family: Panton-Regular;


}

.bg-azul{
    background-color: #2699CD;
}

.bg-branco{
    background-color: white;
}

.apresentacao{
    padding: 5% 2%;
}

.conteudo, .receber{
    padding: 5%;
}


.pagina {
    
    margin-top: 5%;
}


.logo {
    width: 180px;
    position: relative;
    top: 35px;
    left: 35px;
}

.botao a{
        /* width: 180px; */
        position: relative;
        top: 35px;
        right: 35px;
}

.content{
    text-align: left;
    color: white;
}



.mobile {
    display: none;
}

.desktop {
    display: block;
}

h1 {
    font-family: Panton-Bold;
    line-height: 25px;

}

h2 {

    text-transform: uppercase;
    font-family: Panton-Regular;
    font-size: 18px;


}

h3 {

    text-transform: uppercase;
    font-family: Panton-Regular;
    color: white;
    font-size: 20px;



}

h4 {
    color: #2699CD;
    font-family: Panton-Bold;
    text-transform: uppercase;
    font-size: 16px;


}

h5 {
    color: white;
    font-family: Panton-Bold;
    text-transform: uppercase;
    margin-top: 10px;
}

p{
    font-family: Panton-Regular;
    color: white;
}

small{
    font-family: Panton-Bold;
    color: white;
    z-index: 999;

}

*:focus {
    outline: none !important;
}


.bold {

    font-family: Panton-Bold;
}

.video iframe{
    min-height: 300px;
    height: 430px;
    max-height: 500px;

}







.btn {
    font-family: Panton-Bold;
    color: #FFFFFF;
    font-size: 15px;
    width: 100%;
    padding: 15px 25px;

    transform: scale(1);
    transition: all (0.5s);
    background-color: #2699CD;
    border: none;
    text-transform: uppercase;
    border-radius: 0;
}
.btn:hover {
    /* color: #51D670;
    background-color: transparent;
    border: 2px solid #51D670 ;  */
  transform: scale(1.05);
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.39);
    transition: all (3s);
    color: white;
}

.btn-1a {
    font-family: Panton-Bold;
    color: #FFFFFF;
    font-size: 18px;
    width: 100%;
    padding: 15px 20px;
    text-transform: uppercase;
    background-color: #51D670;
    text-decoration: none !important;
    transform: scale(1);
    transition: all (0.5s);
    border: none;
}

.btn-1a:hover {

    transform: scale(1.05);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.39);
    transition: all (3s);
}




@media (max-width: 480px) {

    body {
        /* background-color: #15212F; */
        max-height: 160vh;
    }

    .pagina {
        padding: 0;
        margin-top: 0;
    }

    .video iframe{
        min-height: 220px;
        height: 250px;
        max-height: 350px;
    
    }

    .content{
        padding: 3% 5%;
    }
   

    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }

    .logo {
        width: 150px;
        top: 20px;
        position: relative;
        left: 5px;
    }
   

    h1 {
      font-size: 1.8rem;
      line-height: 39px;
    }
    
    h2 {
        font-size: 1.3rem;
    }

    h3 {
        font-size: 1.6rem;
    }
    
    h4 {
        font-size: 1.3rem;
    
    }
    small{
        font-family: Panton-Bold;
        color: white;
    }
    


}





/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1680px) and (max-width: 1920px) {
   .video iframe{
    min-height: 450px;
    height: 480px;
    max-height: 560px;

}
}

@media only screen and (min-width: 1920px) {
    .video iframe{
        min-height: 500px;
        height: 520px;
        max-height: 660px;
    
    }
}

